# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files # 
*.bak 

# Environments 
venv/ 

# Project Temp
nfstats/data

#Project
nfstats/nfstats/settings.py
nfstats/mainapp/migrations