# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

#
nfstats/mainapp/migrations

# Backup files # 
*.bak 

# Environments 
venv/ 

# Project Temp
nfstats/flow-tools
nfstats/speed

#Project settings
nfstats/nfstats/settings.py