{% extends 'mainapp/base.html' %}

{% block menu %}
	<ul class="left-menu list-unstyled ml-2">
		<li><a class="nav-link {% if request.resolver_match.url_name == 'settings_hosts' %}active-white{% endif %}" href="{% url 'settings_hosts' %}"><span class="menu-icons" data-feather="hard-drive"></span>Hosts</a></li>
		<li><a class="nav-link {% if request.resolver_match.url_name == 'settings_interfaces' %}active-white{% endif %}" href="{% url 'settings_interfaces' %}"><span class="menu-icons" data-feather="link-2"></span>Interfaces</a></li>
		<li><a class="nav-link {% if request.resolver_match.url_name == 'settings_system' %}active-white{% endif %}" href="{% url 'settings_system' %}"><span class="menu-icons" data-feather="list"></span>System</a></li>
	</ul>
{% endblock %}


{% block menu-mobile %}
	<ul class="left-menu list-unstyled ml-2">
		<li><a class="nav-link {% if request.resolver_match.url_name == 'settings_hosts' %}active-white{% endif %}" href="{% url 'settings_hosts' %}"><span class="menu-icons" data-feather="hard-drive"></span>Hosts</a></li>
		<li><a class="nav-link {% if request.resolver_match.url_name == 'settings_interfaces' %}active-white{% endif %}" href="{% url 'settings_interfaces' %}"><span class="menu-icons" data-feather="link-2"></span>Interfaces</a></li>
		<li><a class="nav-link {% if request.resolver_match.url_name == 'settings_system' %}active-white{% endif %}" href="{% url 'settings_system' %}"><span class="menu-icons" data-feather="list"></span>System</a></li>
	</ul>
{% endblock %}


{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top justify-content-end nav-settings">
		<div class="row key-active g-2 ms-2 mb-2 mobile-flex">
			<button class="navbar-toggler menu-toggler col-1 mobile " data-bs-toggle="offcanvas" href="#sidebar-mobile" role="button">
				<span class="mobile-icons" data-feather="chevrons-left"></span>
			</button>
		</div>
		<div class="row g-2">
			<div id="loader" class="me-3"></div>
		</div>
	</nav>
{% endblock %}

{% block content %}


{% endblock %}

