{% extends 'mainapp/settings/base_settings.html' %}


{% block content %}
<div class="container">
<div class="row mt-3 justify-content-center">
		<div class="card col-10">
			<div class="card-body">
				<h5 class="card-title text-center mb-0">System Settings</h5>
					<div class="row mt-5">
						<div class="col ">Log Dir:</div>
						<div class="col"><input  id="log_dir" type="text" class="form-control need-validate" 
							value="{{ settings.log_dir }}">
						</div>
					</div>
					<div class="row mt-2">
						<div class="col">Logging Level:</div>
						<div class="col">
							<select class="custom-select" id="logging_level">
								<option value="DEBUG" {% if  settings.logging_level == 'DEBUG' %} selected {% endif %}>DEBUG</option>
								<option value="INFO" {% if  settings.logging_level == 'INFO' %} selected {% endif %}>INFO</option>
								<option value="WARNING" {% if  settings.logging_level == 'WARNING' %} selected {% endif %}>WARNING</option>
								<option value="ERROR" {% if  settings.logging_level == 'ERROR' %} selected {% endif %}>ERROR</option>
								<option value="CRITICAL" {% if  settings.logging_level == 'CRITICAL' %} selected {% endif %}>CRITICAL</option>
							</select>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col">Flow Tools Bin Dir:</div>
						<div class="col"><input  id="flowtools_bin" type="text" class="form-control need-validate" 
							value="{{ settings.flowtools_bin }}">
						</div>
					</div>
					<div class="row mt-2">
						<div class="col">SNMP Tools Bin Dir:</div>
						<div class="col"><input  id="snmp_bin" type="text" class="form-control need-validate" 
							value="{{ settings.snmp_bin }}">
						</div>
					</div>
					<div class="row mt-2">
						<div class="col">SNMP Community:</div>
						<div class="col"><input  id="snmp_com" type="text" class="form-control need-validate" 
							value="{{ settings.snmp_com }}">
						</div>
					</div>
					<div class="row mt-2">
						<div class="col">History (days):</div>
						<div class="col"><input  id="history_days" type="text" class="form-control need-validate validate-numeric" 
							value="{{ settings.history_days }}">
						</div>
					</div>
					<div class="row mt-4">
						<div class="col-12 text-right">
							<button type="button" class="btn btn btn-outline-success " onclick="updateSettingsVar()">Apply</button>
						</div>
					</div>
			</div>
		</div>
</div>


<script>


function updateSettingsVar() {

	if (validate()) {

		$.ajax({
				type: 'post',
				url: '/update_settings',
				dataType: "json",
				data: {
					'log_dir' : $('#log_dir').val(),
					'logging_level' : $('#logging_level').val(),
					'flowtools_bin' : $('#flowtools_bin').val(),
					'snmp_bin' : $('#snmp_bin').val(),
					'snmp_com' : $('#snmp_com').val(),
					'history_days' : $('#history_days').val(),
				},
				success: function(data){
						location.reload();
				},
				async: true,
		})
		
	}


}


</script>
{% endblock %}