<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" >
	<link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}" >

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/datepicker.min.js' %}"></script>
	<script src="{% static 'js/i18n/datepicker.en.js' %}"></script>

    <title>NFStats</title>
  </head>
  <body>
	<div class="wrapper">
		<!-- Sidebar -->
		<nav id="sidebar">
			<img alt="nfstat" class="navbar-brand" src="{% static 'img/logo.png' %}" />
			<a class="nodecorate active-white" href="{% url 'common' %}" target="">
				<div class="">
					<h2>Netflow	</h2>
					<h6>Traffic statistics</h6>
				</div>
			</a>
			{% block menu %}

			{% endblock %}
		</nav>

		<!-- Page Content -->
		<div id="content" class="container-fluid">
			{% block navbar %}

			{% endblock %}
			
			{% block content %}
			
			{% endblock %}
		</div>

	</div>
	<div id="dynamic-alert-success" class="alert alert-success mt-2" role="alert"></div>
	<div id="dynamic-alert-danger" class="alert alert-danger mt-2" role="alert"></div>
  </body>

	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
	  jQuery.ajaxSetup({
		  beforeSend: function() {
			 $('#loader').show();
		  },
		  complete: function(){
			 $('#loader').hide();
		  },
		  success: function() {},
		  error: function(e) {
				  $('#dynamic-alert-danger').html(e.responseJSON.error);
				  $('#dynamic-alert-danger').show();
			}
		});
		$(".key-active").keyup(function(e){ 
			if(e.key==="Enter") getChartsData();
		})

		function validate(group = false) {
			var valid = true;
			$('.need-validate').removeClass('is-invalid');
			var element_count = $('.need-validate').length;
			$('.need-validate').each(function(){
				if (!$(this).val()) {
					if (!group) {  
						$(this).addClass('is-invalid');
						valid = false;
					} else element_count -= 1;
				}
			});
			if ( group && element_count == 0 ) {
				valid = false;
				$('.need-validate').addClass('is-invalid');
			} 
			$('.validate-numeric').each(function(){
				if ($(this).val() && !$.isNumeric($(this).val())) {
					$(this).addClass('is-invalid');
					setTimeout(function(){
							$('#dynamic-alert-danger').html("Error: The value must be numeric");
				  			$('#dynamic-alert-danger').show();	
						}, 100);
					valid = false;
				}	
			})
			return valid;
		}

		$(function(e){
			$('body').click(function(e){
			if ($('#dynamic-alert-danger').css('display') == 'block') { $('#dynamic-alert-danger').hide(100); $('#dynamic-alert-danger').html(''); }
			if ($('#dynamic-alert-success').css('display') == 'block') { $('#dynamic-alert-success').hide(100); $('#dynamic-alert-success').html(''); }
			else {
				var x = e.clientX + 50 + 'px';
				var y = e.clientY - 80 + 'px';
				$('#dynamic-alert-success').css('top', y);
				$('#dynamic-alert-success').css('left', x);
			}
			});
		});


		function dateToISO(date){
			date_time_arr = date.split(" ");
			date_part_arr = date_time_arr[0].split(".");
			date_iso = date_part_arr[2] + "-" + date_part_arr[1] + "-" + date_part_arr[0] + "T" + date_time_arr[1];
			return date_iso;
		} 

    </script>
</html>

