{% extends 'mainapp/base.html' %}

{% block page-controls %}
<div class="col input-group text-input-group no-mobile-flex">
	<div class="input-group-prepend">
		<label class="input-group-text" for="srcas-input">Source AS:</label>
	</div>
	<input type="text" class="form-control need-validate validate-numeric" id="srcas-input" name="src-as" value="" placeholder="AS number" required>
</div>
<div class="col input-group text-input-group no-mobile-flex">
	<div class="input-group-prepend">
		<label class="input-group-text" for="dstas-input">Destination AS:</label>
	</div>
	<input type="text" class="form-control need-validate validate-numeric" id="dstas-input" name="dst-as" value="" placeholder="AS number" required>
</div>
<div class="col no-mobile-flex ">
	<button type="button" class="btn btn-outline-success" onclick="getChartsData()">Show</button>
</div>
{% endblock %}

{% block page-controls-mobile %}
	<div class="col input-group text-input-group mb-2">
		<div class="input-group-prepend">
			<label class="input-group-text" for="srcas-input-mobile">Source AS:</label>
		</div>
		<input type="text" class="form-control need-validate validate-numeric" id="srcas-input-mobile" name="src-as" value="" placeholder="AS number" required>
	</div>
	<div class="col input-group text-input-group mb-2">
		<div class="input-group-prepend">
			<label class="input-group-text" for="dstas-input-mobile">Destination AS:</label>
		</div>
		<input type="text" class="form-control need-validate validate-numeric" id="dstas-input-mobile" name="dst-as" value="" placeholder="AS number" required>
	</div>
	<div class="row justify-content-end">
		<div id="loader-mobile" class="col loader ms-2 mt-1 w-75"></div>
		<button type="button" class="col-3 btn btn-outline-success" onclick="getChartsData()">Show</button>
	</div>
{% endblock %}	

{% block content %}

<div class="container-fluid g-4">
<div class="row mt-3 justify-content-center">
		<div class="card p-0">
			<div class="card-body text-center">
				<div class="col text-center" id='chart'>Type source or/and destination AS and press 'Show' button</div>
			</div>
			<div class="card-footer text-muted text-center charts-title">{{ direction }} traffic</div>
		</div>
</div>
<script>
chartOptions = { 'height': 1000 }

google.charts.load('current', {'packages':['corechart', 'sankey']});
$(function(e){
	$('body').click(function(e){
		if ($('#dynamic-alert-danger').css('display') == 'block') $('#dynamic-alert-danger').hide(100); 
	})
});

function getChartsData() {
	if (validate(true)) {
		var date = new Date(dateToISO($('#date-select').val()));
		var host = $('#host-select').val();
		var src_as = $('#srcas-input').val();
		var dst_as = $('#dstas-input').val();
		var direction = $('#direction-select').val();
		if (window.innerWidth < 1366) { 
			host = $('#host-select-mobile').val();
			direction = $('#direction-select-mobile').val();
			src_as = $('#srcas-input-mobile').val();
			dst_as = $('#dstas-input-mobile').val();
		}
		chartsData = $.ajax({
				  type: 'post',
				  url: 'get_as_chart_data',
				  dataType: "json",
				  data: {
					'host' : host,
					'date' : date.toISOString(),
					'direction' : direction,
					'src-as' : src_as,
					'dst-as' : dst_as
				  },
				  success: function(data){
					  drawCharts(data);
				  },
				  async: true
		})
	}
}


function drawCharts(chartsData) {
	var data = google.visualization.arrayToDataTable(chartsData);
	var chart = new google.visualization.Sankey(document.getElementById('chart'));
	var rowsCount = data.getNumberOfRows();
	chartOptions.height = rowsCount*15;
	if (chartOptions.height < 800) chartOptions.height = 800;
	chart.draw(data, chartOptions);
}


</script>

{% endblock %}
